@page "/JetStream"
@using Humanizer
@inject NatsMonitorClient Client
@rendermode InteractiveServer
<PageTitle>JetStream Monitoring</PageTitle>
<Header1>JetStream Monitoring</Header1>

<div class="flex flex-col gap-3">
    <div class="flex gap-3">
        <PureCard Title="Streams" Styles="min-h-96">
            <table>
                <thead>
                <tr>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Cluster</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Stream</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Consumers</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Messages</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Subjects</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">First Seq</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Last Seq</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Last Ts</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Created</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var stream in (Model?.AccountDetails ?? []).SelectMany(p => p.StreamDetail).OrderByDescending(p => p.State.LastTs))
                {
                    <tr class="cursor-pointer hover:bg-gray-200" @onclick="() => { SelectedStream = stream; }">
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200 max-w-40">
                            <PureText Styles="truncate">@stream.Cluster.Leader</PureText>
                        </td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@stream.Name</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@stream.State.ConsumerCount</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@stream.State.Messages</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@stream.State.NumSubjects</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@stream.State.FirstSeq</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@stream.State.LastSeq</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200 truncate">@stream.State.LastTs.Humanize()</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200 truncate">@stream.Created.Humanize()</td>
                    </tr>
                }
                </tbody>
            </table>
        </PureCard>
        <PureCard Title="Consumers" Styles="min-h-96 w-1/2">
            @if (SelectedStream is not null)
            {
                <table>
                    <thead>
                    <tr>
                        <th class="px-2 py-1 text-gray-700 text-sm text-bold">Name</th>
                        <th class="px-2 py-1 text-gray-700 text-sm text-bold">Stream</th>
                        <th class="px-2 py-1 text-gray-700 text-sm text-bold">Pending</th>
                        <th class="px-2 py-1 text-gray-700 text-sm text-bold">Ack</th>
                        <th class="px-2 py-1 text-gray-700 text-sm text-bold">Redelivered</th>
                        <th class="px-2 py-1 text-gray-700 text-sm text-bold">Waiting</th>
                        <th class="px-2 py-1 text-gray-700 text-sm text-bold truncate">Created</th>
                        <th class="px-2 py-1 text-gray-700 text-sm text-bold truncate">Last Ts</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var consumer in (SelectedStream.ConsumerDetail ?? []).OrderBy(p => p.Name))
                    {
                        <tr>
                            <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@consumer.Name</td>
                            <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@consumer.StreamName</td>
                            <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@consumer.NumPending</td>
                            <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@consumer.NumAckPending</td>
                            <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@consumer.NumRedelivered</td>
                            <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@consumer.NumWaiting</td>
                            <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@consumer.Created.Humanize()</td>
                            <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@consumer.Ts.Humanize()</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </PureCard>
    </div>
    <div class="grid grid-cols-2 gap-4 text-sm">
        <PureCard Title="JetStream Overview">
            <div>
                <PureLabel>Server ID</PureLabel>
                <PureText>@Model?.ServerId</PureText>
            </div>
            <div>
                <PureLabel>Memory</PureLabel>
                <PureText>@Model?.Memory.Kilobytes()</PureText>
            </div>
            <div>
                <PureLabel>Storage</PureLabel>
                <PureText>@Model?.Storage.Kilobytes()</PureText>
            </div>
            <div>
                <PureLabel>Reserved Memory</PureLabel>
                <PureText>@Model?.ReservedMemory.Kilobytes()</PureText>
            </div>
            <div>
                <PureLabel>Reserved Storage</PureLabel>
                <PureText>@Model?.ReservedStorage.Kilobytes()</PureText>
            </div>
            <div>
                <PureLabel>Accounts</PureLabel>
                <PureText>@Model?.Accounts</PureText>
            </div>
            <div>
                <PureLabel>HA Assets</PureLabel>
                <PureText>@Model?.HaAssets</PureText>
            </div>
            <div>
                <PureLabel>API Total</PureLabel>
                <PureText>@Model?.Api?.Total</PureText>
            </div>
            <div>
                <PureLabel>API Errors</PureLabel>
                <PureText>@Model?.Api?.Errors</PureText>
            </div>

        </PureCard>

        <PureCard Title="Account Details">
            <table>
                <thead>
                <tr>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Name</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Id</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Memory</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Storage</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">Accounts</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">HA Assets</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">API Total</th>
                    <th class="px-2 py-1 text-gray-700 text-sm text-bold">API Errors</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var account in Model?.AccountDetails ?? [])
                {
                    <tr>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@account.Name</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@account.Id</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@account.Memory.Kilobytes()</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@account.Storage.Kilobytes()</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@account.Accounts</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@account.HaAssets</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@account.Api.Total</td>
                        <td class="px-2 py-1 text-gray-700 text-sm border border-gray-200">@account.Api.Errors</td>
                    </tr>
                }
                </tbody>
            </table>
        </PureCard>
    </div>
</div>

@code {
    private ExpandedJetStreamInfo? Model { get; set; }
    private StreamDetail? SelectedStream { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await Client.GetExpandedJetStreamInfo();
    }

}